@charset "UTF-8";
body {
  font-family: "Times New Roman", serif;
  background-color: #F5F1E8;
  color: #2B2B2B;
  max-width: 820px;
  margin: auto;
  padding: 2rem;
  line-height: 1.75;
}

h1 {
  font-size: 2.7rem;
  color: #3F3A32;
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.8rem;
  color: #3F3A32;
  margin-top: 2rem;
}

p {
  font-size: 1.12rem;
  text-align: justify;
  margin-bottom: 1.4rem;
}

a {
  color: #705C3B;
  font-weight: bold;
}

a:hover {
  color: #A0895B;
}
